#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 5rem 2rem;
}

.btn {
  padding: 1.5rem 2.5rem;
  border-radius: 20px;

}